.btn-border {
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(to right, #8B5CF6, #EC4899, #F43F5E);
    border-image-slice: 1;
}


.btn-border:hover {
    background-image: linear-gradient(to right, #8B5CF6, #EC4899, #F43F5E);
}

.login-btn {
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(to right, #8B5CF6, #EC4899, #F43F5E);
    border-image-slice: 1;
    background: linear-gradient(to right, #8B5CF6, #EC4899, #F43F5E);
}

.login-btn:hover {
    background: transparent;
}


.choice-btn{
    background: linear-gradient(to right, #8B5CF6, #EC4899, #F43F5E);
}


.forget-top-div{
    background: linear-gradient(to right, #8B5CF6, #EC4899, #F43F5E);
}

